<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Tunnexo" Manufacturer="Tunnexo" Version="$(var.Version)" UpgradeCode="7B68769B-C8F4-4987-9970-15998D087BB6" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Tunnexo is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Tunnexo">
        <Component Id="Agent" Guid="*">
          <File Id="AgentExe" Source="dist/windows/tunnexo.exe" KeyPath="yes" />
          <Environment Id="AgentPath" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="yes" Permanent="no" />
        </Component>
        <Component Id="License" Guid="*"><File Source="LICENSE" KeyPath="yes" /></Component>
        <Component Id="Guide" Guid="*"><File Source="TUNNEXO_SETUP.md" KeyPath="yes" /></Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main" Title="Tunnexo" Level="1">
      <ComponentRef Id="Agent"/><ComponentRef Id="License"/><ComponentRef Id="Guide"/>
    </Feature>
    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="packaging/windows/license.rtf" />
  </Package>
</Wix>
